/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* GENERAL CSS*/
* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #fff;
    overflow-x: hidden;
    outline-color: #fff;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, span, a, div, li, p, a {
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}

br {
    display: block;
    margin: 0px !important;
}

ul {
    list-style: none;
}


/* FONT-SIZES */
h1 {
    font-size: 3em !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.125em !important;
}

h4 {
    font-size: 1em !important;
}

h5 {
    font-size: 0.875em !important;
}

/* HEADER */
@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: 48vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: 50vw;
      }
}

@media screen and (min-width: 1200px) and (max-width: 1420px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: 50vw;
    }
}


@media screen and (min-width: 1420px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: auto 815px;
    }
}


/* NAVIGATION BAR */
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1vw !important;
    padding-left: 1vw !important;
}

.nav-link {
    text-decoration: none;
    color: #555F71 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

dropdown-toggle-ellipsis {
    padding: 0.5rem;
}


.nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    line-height: 21px;
    font-weight: 400;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transition: 0.3s ease;
}

.nav-item:hover {    
    border-top: 4px solid #2E5BFF;
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        padding-top: 1em;
    }

    .navbar {
        background-color: white !important;
    }

    .navbar-brand {
        margin-left: 0.5rem;
    }

    .nav-link {
        display: flex !important;
        justify-content: space-between;
    }

    .nav-link:hover{
        border-left: 3px solid #555F71;
     }

     .active{
        border-left: 3px solid #2E5BFF;
     }
}

@media (max-width: 576px) {
    .navbar-collapse {
        padding-top: 1em;
    }

    .navbar-brand {
        margin-left: 0.25rem;
    }

    .navbar {
        background-color: white !important;
    }

    .nav-link {
        display: flex !important;
        justify-content: space-between;
    }

    .nav-link:hover{
       border-left: 3px solid #2E5BFF;
    }
}


/* NAVBAR ICON */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background-color: #212529;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
    .animated-icon1 {
        margin-right: -0.25em !important;
    }
}

@media screen and (max-width: 576px) {
    .animated-icon1 {
        margin-right: -0.5em !important;
    }
}



/* NAVBAR BUTTONS */
#headerTlac {
    padding-right: 0px !important;
    padding-left: 1vw;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem !important;
}

#headerTlac div {
    width: 100%;
    text-align: center;
}

.login {
    font-family: 'roboto', sans-serif;
    margin-right: 2rem !important;
    text-align: left;
    display: inline-block;
    width: 100%;
    background-color: #2E5BFF;
    text-decoration: none;
    font-size: 1.125em;
    line-height: 38px;
    color: #2E5BFF;
    border: none;
    background: none;
}

#headerTlac .login:hover {
    transition: 0.3s;
    text-decoration: none;
}

.try {
    font-family: 'roboto', sans-serif;
    display: inline-block;
    background-color: #2E5BFF;
    line-height: 40px;
    text-decoration: none;
    border-radius: 30px;
    width: 140px;
    font-size: 0.875em;
    color: #fff;
    font-weight: bold;
}

.try:hover {
    color: white;
    background-color: #4C72FF;
}

@media screen and (max-width: 767px) {
    .try {
        border-radius: 0px !important;
        font-size: 1em !important;
        margin-right: 0.5rem;
        width: 100% !important;
    }

    .login {
        border: 1px solid #2E5BFF !important;
        margin-right: 0px !important;
        text-align: center;
        margin-right: 2vw;
    }
}

@media screen and (max-width: 576px) {
    .login:hover {
        background-color: #F9FAFF;
        text-decoration: none;
    }

    .try {
        border-radius: 0px !important;
        font-size: 1em !important;
        width: 100% !important;
    }
}

/* MAIN HEADER */
.headerContent {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: start;
    height: calc(100vh - 72px) !important;
    width: 450px;
}

@media screen and (max-width: 767px) {
    .headerContent {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-height: 400px) {
    .headerContent {
        margin-top: 2rem !important;
    }
}

.underSlogan {
    padding-top: 1.5rem;
    line-height: 31px;
    color: #999999;
}

@media screen and (max-width: 576px) {
    .slogan {
        margin: 0 auto;
    }
    
    .headerContent {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .headerContent {
        width: 90vw;
    }
}

@media screen and (max-width: 333px) {
    .headerContent {
        margin-top: 50px;
    }
}


@media screen and (max-height: 425px) {
    .headerContent {
        margin-top: 50px;
    }
}

/* MAIN HEADER BUTTONS*/
#downBtns .try {
    margin-top: 32px !important;
    width: 224px;
    height: 52px;
    text-align: center;
    line-height: 52px;
}

#downBtns .login {
    width: auto;
    margin-right: 0px !important;
    margin-left: 24px;
    line-height: 52px !important;
}

#downBtns img {
    margin-right: 0.5rem;
    margin-top: -4px;
}

@media screen and (max-width: 767px) {
    #downBtns {
        width: 98% !important;
        margin: 0 auto;
    }
    #downBtns .try {
        font-size: 1.125em !important;
    }

    #downBtns .login {
        width: 100%;
        margin: 0px;
    }
}

@media (max-width: 576px) {
    #downBtns {
        width: 98% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 333px) {
    #downBtns .login {
        margin-bottom: 50px;
    }
}


/* COMPANIES */
#companies {
    margin: 0px auto;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexContainer img {
    flex-shrink: 0;
}

#compSlogan {
    padding-top: 32px;
    color: #999999;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0px;
}

@media screen and (max-width: 1067px) {
    .flexContainer img {
        flex-basis: 10%;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 12px;
    }
}

@media screen and (max-width: 333px) {
    .flexContainer {
        padding-top: 24px;
    }
}

/* BACKGROUND STRIPES*/
.backgr {
    position: absolute;
    top: 100%;
    display: block;
}

@media screen and (max-width: 992px) {
    .backgr {
        display: none;
    }
}

/* DETAILS */
#details {
    margin: 0 auto;
}

#detailsUvod {
    color: #555F71;
    padding-top: 128px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

#flexSmallContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 24px;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

#flexSmallContainer img {
    margin: 24px;
}

.textIn {
    position: relative;
    text-align: center;
}

.textIn h4 {
    font-size: 1em !important;
}

.textIn strong {
    font-size: 1.5em !important;
}

.dotReg {
    position: relative;
    height: 120px;
    width: 120px;
    background-color: #E0E7FF;
    border-radius: 50%;
}

.dotBlu {
    position: relative;
    height: 140px;
    width: 140px;
    background-color: #2E5BFF;
    border-radius: 50%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #2E5BFF;
    transform: translate(-50%, -50%);
}

.centeredBlue {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 635px) {
    #detailsUvod {
        width: 90vw;
    }
}

@media screen and (max-width: 547px) {
    .textIn:nth-child(2) { 
        order: 1; 
    }
}

@media screen and (max-width: 360px) {
    .textIn:nth-child(2) { 
        order: -1; 
    }
}


/* FOR WHO SECTION */
#forWho {
    margin:  0 auto;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 128px;
}

#forWho .flexContainer {
    justify-content: flex-start;
}

.title {
    margin-top: 64px;
    line-height: 31px;
    color: #999999;
    padding-bottom: 24px;
    margin-bottom: 0;
}

.secSlogan {
    font-size: 2.125em !important;
    line-height: 48px;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 0;
}

#forWho .secSlogan {
    padding-bottom: 32px !important;
}

.box {
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    margin-bottom: 20px;
}

#forWho .box:nth-of-type(3) {
    margin-bottom: 67px;
}

.boxText {
    padding: 20px;
    font-size: 1.125em;
    line-height: 31px;
    width: auto;
    margin-bottom: 0px
}

.imgBox {
    position: relative;
}

.left {
    margin-right: 30px;
}

#agent {
    top: 28%;
    position: absolute;
    width: 137.5%;
    height: auto;
}

@media screen and (min-width: 1650px) {
    #agent {
        top: 15%;
    }
}
@media screen and (min-width: 2000px) {
    #agent {
        top: 15%;
        width: auto;
        height: 500px;
    }
}

@media screen and (max-width: 576px) {
    #forWho .flexContainer {
        justify-content: center;
        text-align: center;
    }

    .boxText {
        text-align: left;
    }
}

@media screen and (max-width: 1400px) {
    #forWho .left {
        margin-right: 0px;
        order: 2;
    }

    #forWho .title, #forWho .secSlogan {
        text-align: center;
        margin: 0 auto;
        padding: 0 24px;
        padding-bottom: 24px;
    }

    #forWho .imgBox {
        position: relative;
        height: auto;
        margin: 0 auto;
        order: 1;
    }

    #agent {
        padding: 64px 0px;
        position: relative;
        width: 100%;
        top: 0%;
    }
}


/* HOW IT WORKS SECTION */
#how {
    margin: 0 auto;
    border-bottom: 1px solid #EBEBEB;
}

.leftHow img {
    margin-left: 2vw;
    width: 90%;
    margin-top: -70px;
    min-width: 90%;
}

.rightHow {
    margin-bottom: 64px;
}

.roundedList {
    margin-top: 16px;
    list-style: none;
    counter-reset: line;
    border-bottom: 64px;
    padding-left: 5px;
    max-width: 550px;
    margin-bottom: 4px;
}

.roundedList > li {
    position: relative;
    margin-bottom: 1.5em;
  }

  .roundedList > li:before {
	width: 32px;
	height: 32px;
    background-color: #E0E7FF;
    color: #2E5BFF;
    counter-increment: line;
	content: counter(line);
    font-weight: 700;
    font-size: 1em !important;
    line-height: 32px;
	display: inline-block;
    left: -2.25em;
	border-radius: 50%;
	text-align:center;
    margin-right: 16px;
    position: absolute;
    left: 0;
}

.roundedList li a {
    text-decoration: none;
    color: #010101;
}

.roundedList li {
    margin-left: -7.5px;
    padding-left: 50px;
}

#how .secSlogan {
    max-width: 652px;
}

@media screen and (max-width: 768px) {
    #how .title, #how .secSlogan {
        padding: 24px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 992px) {
    .leftHow img {
        margin: 0 auto;
        margin-top: 64px;
        padding-bottom: 64px;
    }

    #how .title, #how .secSlogan {
        text-align: center;
        margin: 0 auto;
    }

    .roundedList {
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 1625px) {
    .leftHow img {
        height: 411.6px !important;
        width: 383px !important;
        min-width: auto;
    }
}


/* HOW IT WORKS */
#howContin {
    margin: 0 auto;
    padding-bottom: 64px;
}

#howContin .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
}   

#howContin .right img {
    width: 90%;
    float: right;
    margin-top: -32px;
}

#howContin .right img::after {
    content: "";
    clear: both;
    display: table;
}

#howContin .left {
    margin-right: 0px;
}   

.centralny {
    text-align: center !important;
}

.centralny .secSlogan {
    width: 100%;
}

.centralny h4 {
    color: #555F71;
}

#howContin .flexContainer {
    margin-top: 48px;
    justify-content: flex-start;
}

.texts {
    margin-left: 64px;
    margin-top: -40px;
}

#howContin .box {
    display: inline-block;
    border: none;
    width: 446px;
    padding: 22px 24px;
}

#howContin .box:last-of-type {
    margin-bottom: 8px;
}

#howContin .boxText {
    padding: 0px;
    line-height: 27px;
    width: auto;
}

.boxTextDown {
    margin-bottom: 0px;
    line-height: 27px;
    width: auto;
}

#items {
    padding-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#howContin .underSlogan {
    width: 550px;
    margin: 0 auto;
    padding-top: 0;
}

#howContin .col-7 img {
    padding: 15px;
}

@media screen and (max-width: 622px) {
    #howContin .underSlogan {
        width: 90vw;
    }
}

@media screen and (max-width: 576px) {
    #howContin .box {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 1600px) {
    #howContin .col-7 {
        flex: 0 0 auto;
        width: 100%;
    }

    #howContin .flexContainer img {
        flex-basis: 100%;
    }
    
    #howContin .right img {
        width: 100%;
        margin: 0 auto;
        padding-top: 0px;
    }

    #howContin .left {
        width: 100%;
    }

    #items {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #items li {
        width: 50%;
    }

    #howContin .box {
        width: auto;
    }
}

@media screen and (max-width: 847px) {
    #items li {
        width: 100%;
    }
    
    .texts {
        margin-top: -45px;
    }

    .box {
        padding-left: 12px !important;
    }
}

@media screen and (min-width: 1800px) {
    #howContin .right img {
        min-width: auto;
        height: 850px !important;
        width: 600px !important;
    }
}

/* HOW IT WORKS - BUTTONS */
.butt .centralny {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#howContin .try {
    width: 224px;
    height: 54px;
    line-height: 54px;
    font-size: 	0.875em;
}

#howContin .login {
    margin-left: 16px;
    font-size: 	0.875em;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}


@media screen and (max-width: 576px) {
    #howContin .login {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .centralny {
        flex-direction: column;
    }

    #howContin .try {
        width: 100%;
        font-size: 0.875em !important;
    }
    
    #howContin .login {
        width: 100%;
        margin-left: 0;
        font-size: 0.875em;
    }
}


/* CAROUSEL */
#carousel {
    background-color: #F9FAFF;
    text-align: center;
    padding-bottom: 196px;
}

#carousel .title {
    margin-top: 0;
    padding-top: 128px;
}

#carousel .secSlogan {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 64px;
}

.carousel-cell {
    width: 21.875% !important;
    margin-right: 30px;
}

.content {
    margin-top: -44px;
    border-radius: 8px;
    background-color: #fff;
}

.carousel-cell .secSlogan {
    font-size: 1em !important;
    max-width: 150px !important;
    line-height: 19px !important;
    padding-top: 60px !important;
    padding-bottom: 8px !important;
}

.carousel-cell .title {
    padding: 0 !important;
    padding-bottom: 24px !important;
    line-height: 16px !important;
}

.carousel-cell  p {
    margin: 0;
    padding: 0px 24px 24px 24px;
    text-align: left !important;
}

.flickity-page-dots {
    bottom: -52px !important;
}

.flickity-page-dots .dot {
    background-color: #fff !important;
    border: 1px solid #999999;
}

.flickity-page-dots .is-selected {
    background-color: #999999 !important;
}

.flickity-prev-next-button.previous .arrow {
    transform: scale(3.783) translate(5.5px,5.5px) !important;
}

.flickity-prev-next-button.next .arrow {
    transform: scale(3.783) rotate(180deg) translate(-21.5px,-21.5px);
}

.flickity-button:focus {
    box-shadow: 0 0 0 3px #2E5BFF;
}

.flickity-button:focus-visible {
    box-shadow: 0 0 0 1px #2E5BFF;
}

.flickity-prev-next-button.previous {
    left: calc(100vw - 83.3333333333%) !important;
}

.flickity-prev-next-button.next {
    right: calc(100vw - 83.3333333333%) !important;
}

@media screen and (max-width: 1200px) {
    .carousel-cell {
        width: 33.33333% !important;
    }
}

@media screen and (max-width: 992px) {
    .carousel-cell {
        width: 50% !important;
    }
}

@media screen and (max-width: 576px) {
    .carousel-cell {
        width: 75% !important;
    }

    .carousel-cell  p {
        text-align: center !important;
    }

    .flickity-prev-next-button.previous {
        left: 0 !important;
    }
    
    .flickity-prev-next-button.next {
        right: 0 !important;
    }
}


/* THEY WROTE ABOUT US */
#theyWrote {
    padding: 128px 0px;
    text-align: center;
    border-bottom: 1px solid #EBEBEB;
}

#theyWrote .secSlogan {
    padding-bottom: 48px;
}


/* READY TO START? */
#youReady {
    margin-top: 132px;
    margin-bottom: 128px;
}

.boxReady {
    background: url('../img/bg.png') no-repeat center;
    background-size: cover;
    border-radius: 24px;
    height: 254px;
    margin-top: -56.5px;
}

#specialImg {
    margin-left: calc(50% - 57.5px);
}

#navigationPin {
    margin-left: -25px;
    margin-top: 97px;
}

#cartPin {
    margin-left: -350px;
}

#headPin {
    margin-left: 135px;
    margin-top: -40px;
    margin-bottom: 40px;
}

.rightReady {
    float: right;
    text-align: center;
    margin-top: -148px;
}

.rightReady::after {
    content: "";
    clear: both;
    display: table;
  }

.rightReady .try {
    background-color: white !important;
    color: #2E5BFF !important;
    font-size: 0.875em !important;
    width: 280px;
    line-height: 52px !important;
    height: 52px !important;
    text-align: center;
    margin-bottom: 40px;
}

.rightReady .try:hover {
    background-color: #EBEBEB !important;
    transition: 0.2s;
}
    
.leftReady {
    margin-top: -80px;
}

.leftReady .secSlogan {
    color: #fff;
    padding-left: 94px;
    padding-bottom: 16px;
    width: 550px;
}

.leftReady p {
    max-width: 420px;
    color: #fff;
    padding-left: 94px;
}

@media screen and (max-width: 830px) {
    .rightReady .try {
        width: 150px !important;
        border-radius: 30px !important;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .leftReady .secSlogan {
        width: 550px;
        color: #fff;
        padding-left: 94px;
    }
}

@media screen and (max-width: 726px) {
    .rightReady .try {
        margin-top: 120px;
        margin-bottom: -45px;
    }

    .leftReady {
        text-align: center;
    }

    .leftReady .secSlogan {
        color: #fff;
        padding: 0px 16px !important;
        max-width: 100%;
        margin: 0 auto;
    }

    .leftReady p {
        margin: 0 auto;
        padding-left: 0;
        max-width: 70% !important;
    }

    .rightReady, .leftReady {
        width: 100% !important;
    }

    .rightReady {
        float: none;
    }

    .boxReady { 
        min-height: 278px;
        height: auto;
        padding-bottom: 24px;
    }

    #headPin {
        visibility: hidden;
    }
}

@media screen and (max-width: 500px) {
    #navigationPin, #cartPin, #headPin {
        visibility: hidden;
    }

    .rightReady .try {
        width: 70vw !important;
    }
}

@media screen and (max-width: 425px) {
    .boxReady {
        background-color: #fff !important;
    }
}


/* FOOTER */
#footer {
    background: url('../img/backgrund.png') no-repeat top center;
    background-size: cover;
    height: 469px;
    display: flex;
}

#footer h4, #footer li {
    color: #fff !important;
    padding-bottom: 8px;
}

#footer ul {
    padding-left: 0;
}


#footer ul li {
    font-size: 0.875em;
    padding-bottom: 16px;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;
}

#footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.5s;
}

#footer ul li:last-of-type {
    padding-bottom: 0;
}

#footerContent {
    margin: 0 auto;
    padding-bottom: 1rem;
}

#third {
    padding-top: 76px;
}

#third li a img {
    padding-right: 24px;
    margin-bottom: 48px;
}

#third li a img:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.block {
    background: #FFFFFF;
    max-width: 84px;
    border-radius: 20px;
    border: 1px solid #E9E9EA;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.block:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.block img {
    padding-right: 0px !important;
    margin-bottom: 0px !important;
}

.block h5 {
    color: #000;
    line-height: 14px;
    margin-bottom: 0px;
}

.last {
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    #footer {
        height: auto;
        background-color: #001847;
    }

    #footer ul {
        margin-top: 32px;
    }

    #footerContent {
        margin-top: 32px;
    }

    #third {
        padding-top: 0px;
    }
}