/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* GENERAL CSS*/
* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #fff;
    min-height: 6437px;
    overflow-x: hidden;
    outline-color: #fff;
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}

br {
    display: block;
    margin: 0px !important;
}

ul {
    list-style: none;
}


/* FONT-SIZES */
h1 {
    font-size: 3em !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.125em !important;
}

h4 {
    font-size: 1em !important;
}


/* HEADER */
@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: 48vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: 50vw;
      }
}

@media screen and (min-width: 1200px) and (max-width: 1420px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: 50vw;
    }
}


@media screen and (min-width: 1420px) {
    header {
        background-image: url("../img/header-img.png");
        background-repeat:no-repeat;
        background-position:top right;
        background-size: auto 815px;
    }
}


/* NAVIGATION BAR */
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1vw !important;
    padding-left: 1vw !important;
}

.nav-link {
    text-decoration: none;
    color: #555F71 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

dropdown-toggle-ellipsis {
    padding: 0.5rem;
}


.nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    line-height: 21px;
    font-weight: 400;
}

.nav-item:hover {
    font-weight: 700;        
    transition: 0.5s;
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        padding-top: 1em;
    }

    .navbar {
        background-color: white !important;
    }

    .navbar-brand {
        margin-left: 0.5rem;
    }

    .nav-link {
        display: flex !important;
        justify-content: space-between;
    }

    .nav-link:hover{
        border-left: 3px solid #555F71;
     }

     .active{
        border-left: 3px solid #2E5BFF;
     }
}

@media (max-width: 576px) {
    .navbar-collapse {
        padding-top: 1em;
    }

    .navbar-brand {
        margin-left: 0.25rem;
    }

    .navbar {
        background-color: white !important;
    }

    .nav-link {
        display: flex !important;
        justify-content: space-between;
    }

    .nav-link:hover{
       border-left: 3px solid #2E5BFF;
    }
}


/* NAVBAR ICON */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background-color: #212529;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
    .animated-icon1 {
        margin-right: -0.25em !important;
    }
}

@media screen and (max-width: 576px) {
    .animated-icon1 {
        margin-right: -0.5em !important;
    }
}



/* NAVBAR BUTTONS */
#headerTlac {
    padding-right: 0px !important;
    padding-left: 1vw;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem !important;
}

#headerTlac div {
    width: 100%;
    text-align: center;
}

.login {
    font-family: 'roboto', sans-serif;
    margin-right: 2rem !important;
    text-align: left;
    display: inline-block;
    width: 100%;
    background-color: #2E5BFF;
    text-decoration: none;
    font-size: 1.125em;
    line-height: 38px;
    color: #2E5BFF;
    border: none;
    background: none;
}

#headerTlac .login:hover {
    font-weight: 700;
    transition: 0.3s;
    background-color: #F9FAFF;
    text-decoration: none;
}

.try {
    font-family: 'roboto', sans-serif;
    display: inline-block;
    background-color: #2E5BFF;
    line-height: 40px;
    text-decoration: none;
    border-radius: 30px;
    width: 140px;
    font-size: 0.875em;
    color: #fff;
    font-weight: bold;
}

.try:hover {
    color: white;
    background-color: #4C72FF;
}

@media screen and (max-width: 767px) {
    .try {
        border-radius: 0px !important;
        font-size: 1em !important;
        margin-right: 0.5rem;
        width: 100% !important;
    }

    .login {
        border: 1px solid #2E5BFF !important;
        margin-right: 0px !important;
        text-align: center;
        margin-right: 2vw;
    }
}

@media screen and (max-width: 576px) {
    .login:hover {
        background-color: #F9FAFF;
        text-decoration: none;
    }

    .try {
        border-radius: 0px !important;
        font-size: 1em !important;
        width: 100% !important;
    }
}

/* MAIN HEADER */
.headerContent {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: start;
    height: calc(100vh - 72px) !important;
    width: 450px;
}

@media screen and (max-width: 767px) {
    .headerContent {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-height: 400px) {
    .headerContent {
        margin-top: 2rem !important;
    }
}

.underSlogan {
    padding-top: 1.5rem;
    line-height: 31px;
    color: #999999;
}

@media screen and (max-width: 576px) {
    .slogan {
        margin: 0 auto;
    }
    
    .headerContent {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .headerContent {
        width: 90vw;
    }
}

@media screen and (max-width: 333px) {
    .headerContent {
        margin-top: 50px;
    }
}


@media screen and (max-height: 425px) {
    .headerContent {
        margin-top: 50px;
    }
}

/* MAIN HEADER BUTTONS*/
#downBtns .try {
    margin-top: 32px !important;
    width: 224px;
    height: 52px;
    text-align: center;
    line-height: 52px;
}

#downBtns .login {
    width: auto;
    margin-right: 0px !important;
    margin-left: 24px;
    line-height: 52px !important;
}

#downBtns img {
    margin-right: 0.5rem;
    margin-top: -4px;
}

@media screen and (max-width: 767px) {
    #downBtns {
        width: 98% !important;
        margin: 0 auto;
    }
    #downBtns .try {
        font-size: 1.125em !important;
    }

    #downBtns .login {
        width: 100%;
        margin: 0px;
    }
}

@media (max-width: 576px) {
    #downBtns {
        width: 98% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 333px) {
    #downBtns .login {
        margin-bottom: 50px;
    }
}


/* COMPANIES */
#companies {
    margin: 0px auto;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexContainer img {
    flex-shrink: 0;
}

#compSlogan {
    padding-top: 32px;
    color: #999999;
    line-height: 20px;
    text-align: center;
}

@media screen and (max-width: 1067px) {
    .flexContainer img {
        flex-basis: 10%;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 12px;
    }
}

@media screen and (max-width: 333px) {
    .flexContainer {
        padding-top: 24px;
    }
}

/* BACKGROUND STRIPES*/
.backgr {
    position: absolute;
    top: 100%;
    display: block;
}

@media screen and (max-width: 992px) {
    .backgr {
        display: none;
    }
}

/* DETAILS */
#details {
    margin: 0 auto;
}

#detailsUvod {
    color: #555F71;
    padding-top: 128px;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

#flexSmallContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 24px;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

#flexSmallContainer img {
    margin: 24px;
}

.textIn {
    position: relative;
    text-align: center;
}

.textIn h4 {
    font-size: 1em !important;
}

.textIn strong {
    font-size: 1.5em !important;
}

.dotReg {
    position: relative;
    height: 120px;
    width: 120px;
    background-color: #E0E7FF;
    border-radius: 50%;
}

.dotBlu {
    position: relative;
    height: 140px;
    width: 140px;
    background-color: #2E5BFF;
    border-radius: 50%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #2E5BFF;
    transform: translate(-50%, -50%);
}

.centeredBlue {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 635px) {
    #detailsUvod {
        width: 90vw;
    }
}

@media screen and (max-width: 547px) {
    .textIn:nth-child(2) { 
        order: 1; 
    }
}

@media screen and (max-width: 360px) {
    .textIn:nth-child(2) { 
        order: -1; 
    }
}


/* FOR WHO SECTION */
#forWho {
    margin:  0 auto;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 128px;
}

#forWho .flexContainer {
    justify-content: flex-start;
}

.title {
    margin-top: 64px;
    line-height: 31px;
    color: #999999;
    padding-bottom: 24px;
    
}

.secSlogan {
    font-size: 2.125em !important;
    line-height: 48px;
    width: 100%;
    padding-bottom: 32px;
}

.box {
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    margin-bottom: 20px;
}

#forWho .box:nth-of-type(3) {
    margin-bottom: 67px;
}

.boxText {
    padding: 20px;
    font-size: 1.125em;
    line-height: 31px;
    width: auto;
}

.imgBox {
    position: relative;
}

.left {
    margin-right: 30px;
}

#agent {
    top: 25%;
    position: absolute;
    width: 137.5%;
    height: auto;
}

@media screen and (min-width: 2000px) {
    #agent {
        top: 15%;
        width: auto;
        height: 500px;
    }
}

@media screen and (max-width: 576px) {
    #forWho .flexContainer {
        justify-content: center;
        text-align: center;
    }
   
    #agent {
        display: none;
    }

    .boxText {
        text-align: left;
    }
}

@media screen and (max-width: 1400px) {
    .left {
        margin-right: 0px;
    }

    #forWho .title, #forWho .secSlogan {
        padding: 24px;
    }
}


/* HOW IT WORKS SECTION */
#how {
    margin: 0 auto;
    border-bottom: 1px solid #EBEBEB;
}

.leftHow {
    margin-top: 64px;
}

.leftHow img {
    margin-left: 2vw;
    width: 90%;
    margin-top: -70px;
    min-width: 90%;
}

.rightHow {
    margin-bottom: 64px;
}

.roundedList {
    margin-top: 16px;
    list-style: none;
    counter-reset: line;
    border-bottom: 64px;
    padding-left: 5px;
}

.roundedList > li {
    position: relative;
    margin-bottom: 1.5em;
  }

  .roundedList > li:before {
	width: 32px;
	height: 32px;
    background-color: #E0E7FF;
    color: #2E5BFF;
    counter-increment: line;
	content: counter(line);
    font-weight: 700;
    font-size: 1em !important;
    line-height: 28px;
	display: inline-block;
    left: -2.25em;
	border-radius: 50%;
	text-align:center;
    margin-right: 16px;
    position: absolute;
    left: 0;
}

.roundedList li a {
    text-decoration: none;
    color: #010101;
}

.roundedList li {
    margin-left: -7.5px;
    padding-left: 50px;
}

@media screen and (max-width: 768px) {
    #how .title, #how .secSlogan {
        padding: 24px;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .leftHow img {
        display: none;
    }
}

@media screen and (min-width: 1625px) {
    .leftHow img {
        height: 411.6px !important;
        width: 383px !important;
        min-width: auto;
    }
}


/* HOW IT WORKS */
#howContin {
    margin: 0 auto;
    padding-bottom: 64px;
}

#howContin .right {
    margin-top: 9.5px;
    width: auto;
}   

#howContin .left {
    margin-right: 0px;
}   

.centralny {
    text-align: center !important;
}

.centralny .secSlogan {
    width: 100%;
}

.centralny h4 {
    color: #555F71;
}

#howContin .flexContainer {
    margin-top: 48px;
    justify-content: flex-start;
}

.texts {
    margin-left: 64px;
    margin-top: -40px;
}

#howContin .box {
    display: inline-block;
    border: none;
    width: 446px;
    padding: 22px 24px;
}

#howContin .box:last-of-type {
    margin-bottom: 8px;
}

#howContin .boxText {
    padding: 0px;
    line-height: 27px;
    width: auto;
}

.boxTextDown {
    margin-bottom: 0px;
    line-height: 27px;
    width: auto;
}

/* HOW IT WORKS - BUTTONS */
.butt .centralny {
    display: flex;
    justify-content: center;
}

#howContin .try {
    width: 224px;
    height: 52px;
    line-height: 52px;
}

#howContin .login {
    margin-left: 32px;
    font-size: 	0.875em;
    font-weight: 700;
    line-height: 52px;
}

#items {
    padding-left: 0;
}

@media screen and (max-width: 576px) {
    #howContin .login {
        margin-left: 0px;
    }
}






/*
.playVideo {
    font-weight: 700;
    font-size: 1em;
    line-height: 20px;
    text-align: center;
    margin-left: 33.33px;
    color: #2E5BFF;
    border: none;
    background-color: #fff;
}

.thumb-wrapper .name {
    line-height: 19px;
    font-weight: bold;
    color: #010101;
    margin-top: -68px;
    margin-bottom: 0;
}

.thumb-wrapper .title {
    font-size: 0.875em !important;
}

.thumb-wrapper p {
    text-align: left;
    color: #555F71;
    font-size: 1em;
    line-height: 26px;
    margin-bottom: 0;
}

.carousel-control-prev, .carousel-control-next {
	height: 54px;
	width: 54px;
	background: #fff;	
}

.carousel-control-next, .carousel-control-prev {
    width: 54px !important;
    top: -10% !important;
}

.carousel-control-prev, .carousel-control-next {
	margin: auto 0;
	border-radius: 50%;
	opacity: 1 !important;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 16px;
	height: 16px;
	margin: 8px;
	border-radius: 50%;
	border: none;
}

.carousel-indicators li {	
	background: #fff;
}
.carousel-indicators li.active {	
	background: #EBEBEB;
}

.carousel .thumb-wrapper {
	padding-top: 126px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 28px;
	background: #fff;
	border-radius: 8px;
	text-align: center;
	position: relative;
    width: 350px;
}

.carousel .item {
	min-height: 300px;
}

.carousel {
	margin-top: 64px;
}

#cusStories .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
}

#cusStories .secSlogan {
    text-align: center;
    width: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#cusStories {
    width: 100%;
    padding-top: 129px;
    background-color: #002aff;
    padding-bottom: 220px;
}

#storiesContainer {
    width: 1110px;
    margin: 0 auto;
}

.car {
    margin: 0 auto;
    width: 120% !important;
}

.col-sm-2 {
    text-align: center;
}

.row {
    justify-content: center;
}

.profile {
    position: relative;
    margin-bottom: -13%;
    z-index: 5;
}

.car ol {
    margin: -104px;
}


*/